<!DOCTYPE html>
<html lang="es">

<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registrar resultado de revisión manual</title>
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/reg_revision.css' %}">
    <link rel="icon" href="{% static 'icons/faviocon.webp' %}">
</head>

<body>

    <div id="event-handler">
        <div id="event-icon"></div>
        <div id="event-text"></div>
    </div>

    <div id="confirmacionModal" class="modal fade" tabindex="-1" aria-hidden="true">
        <div class="modal-dialog modal-md modal-dialog-centered" style="max-width: 500px;">
            <div class="modal-content"
                style="background-color: #d9d2c3; color: #4a4a4a; border-radius: 8px; border: 1px solid #444;">
                <div class="modal-header border-0">
                    <h5 class="modal-title">¿Quieres guardar los datos modificados?</h5>
                    <button type="button" class="btn-close btn-close-white" aria-label="Close"
                        onclick="cerrarModal()"></button>
                </div>
                <div class="modal-footer border-0 justify-content-center">
                    <button id="btnSi" type="button" class="btn btn-primary btn-md"
                        style="min-width: 120px; margin: 0 10px;">Sí</button>
                    <button id="btnNo" type="button" class="btn btn-danger btn-md"
                        style="min-width: 120px; margin: 0 10px;">No</button>
                </div>
            </div>
        </div>
    </div>
    <div class="container py-5">
        
        <h2 class="mb-4"> Registrar resultado de revisión manual</h2>

        <form>
            <div class="mb-3">
                <label for="eventoSelect" class="form-label">Seleccionar evento sísmico autodetectado</label>
                <select class="form-select" id="eventoSelect" required>
                    <option selected disabled>Seleccione un evento detectado</option>
                </select>
            </div>

            <fieldset id="sismo-container" class="border p-3 mb-3">
                <h3 class="float-none w-auto px-2">Datos del evento sísmico</h3>
                <div class="mb-2">
                    <label for="fecha" class="form-label">Fecha</label>
                    <input type="date" disabled class="form-control" id="fecha">
                </div>
                <div class="mb-2">
                    <label for="hora" class="form-label">Hora</label>
                    <input type="time" disabled class="form-control" id="hora">
                </div>
                <div class="mb-2">
                    <label for="magnitudVista" class="form-label">Magnitud</label>
                    <input type="number" disabled step="0.1" class="form-control" id="magnitudVista">
                </div>
                <div class="mb-2">
                    <label for="alcanceVista" class="form-label">Alcance</label>
                    <input type="text" disabled class="form-control" id="alcanceVista">
                </div>
                <div class="mb-2">
                    <label for="origenVista" class="form-label">Origen de generación</label>
                    <input type="text" disabled class="form-control" id="origenVista">
                </div>
                <div class="mb-2">
                    <label for="coordenadas" class="form-label">Coordenadas geográficas</label>
                    <input type="text" disabled class="form-control" id="coordenadas">
                </div>

                <div class="mb-2">
                    <label for="clasificacion" class="form-label">Nombre de clasificacion</label>
                    <input type="text" disabled class="form-control" id="clasificacion">
                </div>

                <div class="mb-2">
                    <label for="kmProfundidadDesde" class="form-label">Km profundidad desde</label>
                    <input type="text" disabled class="form-control" id="kmProfundidadDesde">
                </div>

                <div class="mb-2">
                    <label for="kmProfundidadHasta" class="form-label">Km profundidad hasta</label>
                    <input type="text" disabled class="form-control" id="kmProfundidadHasta">
                </div>
                <div class="mb-2">
                    <label for="nombreEstacion" class="form-label">Nombre estación sismológica</label>
                    <input type="text" disabled class="form-control" id="nombreEstacion">
                </div>

                <div id="containerSeries"></div>

            </fieldset>

            <div id="camposModificables" style="display: none;">
                <div class="mb-3">
                    <label for="magnitud" class="form-label">Magnitud</label>
                    <input type="number" step="0.1" class="form-control" id="magnitud">
                </div>
                <div class="mb-3">
                    <label for="alcance" class="form-label">Alcance</label>
                    <input type="text" class="form-control" id="alcance">
                </div>
                <div class="mb-3">
                    <label for="origen" class="form-label">Origen de generación</label>
                    <input type="text" class="form-control" id="origen">
                </div>
            </div>

            <div class="mb-3">
                <label for="accion" class="form-label">Acción a realizar</label>
                <select class="form-select" id="accion" required>
                    <option selected disabled>Seleccione una acción</option>
                    <option value="confirmar">Confirmar evento</option>
                    <option value="rechazar">Rechazar evento</option>
                    <option value="revisar_experto">Solicitar revisión a experto</option>
                </select>
            </div>

            <button id="tomarModificacionDatos" type="submit" class="btn btn-primary">Registrar modificacion de
                datos</button>
            <button type="reset" class="btn btn-danger">Cancelar</button>
        </form>
        <button type="" disabled id="visualizarMapa" class="mt-5 btn-dark">🗺️ Visualizar el mapa del sismo</button>
    </div>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/reg_revision.js' %}"></script>
</body>

</html>